FmsWeb/Service References/FmsService/FMS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost/" elementFormDefault="qualified" targetNamespace="http://localhost/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SubmitAppId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>