FmsWeb/Service References/FmsService/FMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/Imports">
      <xsd:import schemaLocation="http://localhost:2020/FMS.xamlx?xsd=xsd0" namespace="http://localhost/" />
      <xsd:import schemaLocation="http://localhost:2020/FMS.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import schemaLocation="http://localhost:2020/FMS.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2020/FMS.xamlx?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFms_SubmitAppId_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAppId" />
  </wsdl:message>
  <wsdl:message name="IFms_SubmitAppId_OutputMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Model" name="Submission" element="q1:Submission" />
  </wsdl:message>
  <wsdl:message name="IFms_GenerateAndValidate_InputMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Model" name="UserRequest" element="q2:UserRequest" />
  </wsdl:message>
  <wsdl:message name="IFms_GenerateAndValidate_OutputMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Model" name="Submission" element="q3:Submission" />
  </wsdl:message>
  <wsdl:message name="IFms_ContinueToTC2_InputMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Model" name="UserRequest" element="q4:UserRequest" />
  </wsdl:message>
  <wsdl:message name="IFms_ContinueToTC2_OutputMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Model" name="Submission" element="q5:Submission" />
  </wsdl:message>
  <wsdl:message name="IFms_VendorTC2Response_InputMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Model" name="UserRequest" element="q6:UserRequest" />
  </wsdl:message>
  <wsdl:message name="IFms_VendorTC2Response_OutputMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Model" name="FmsResponse" element="q7:FmsResponse" />
  </wsdl:message>
  <wsdl:message name="IFms_ContinueToProd_InputMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Model" name="UserRequest" element="q8:UserRequest" />
  </wsdl:message>
  <wsdl:message name="IFms_ContinueToProd_OutputMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Model" name="Submission" element="q9:Submission" />
  </wsdl:message>
  <wsdl:message name="IFms_BackupFeedAndPackages_InputMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Model" name="UserRequest" element="q10:UserRequest" />
  </wsdl:message>
  <wsdl:message name="IFms_BackupFeedAndPackages_OutputMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Model" name="Submission" element="q11:Submission" />
  </wsdl:message>
  <wsdl:message name="IFms_PublishToProd_InputMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Model" name="UserRequest" element="q12:UserRequest" />
  </wsdl:message>
  <wsdl:message name="IFms_PublishToProd_OutputMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/Model" name="Submission" element="q13:Submission" />
  </wsdl:message>
  <wsdl:message name="IFms_TakeActionToFix_InputMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/Model" name="UserRequest" element="q14:UserRequest" />
  </wsdl:message>
  <wsdl:message name="IFms_TakeActionToFix_OutputMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/Model" name="Submission" element="q15:Submission" />
  </wsdl:message>
  <wsdl:portType name="IFms">
    <wsdl:operation name="SubmitAppId">
      <wsdl:input wsaw:Action="http://localhost/IFms/SubmitAppId" message="tns:IFms_SubmitAppId_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IFms/SubmitAppIdResponse" message="tns:IFms_SubmitAppId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateAndValidate">
      <wsdl:input wsaw:Action="http://localhost/IFms/GenerateAndValidate" message="tns:IFms_GenerateAndValidate_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IFms/GenerateAndValidateResponse" message="tns:IFms_GenerateAndValidate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContinueToTC2">
      <wsdl:input wsaw:Action="http://localhost/IFms/ContinueToTC2" message="tns:IFms_ContinueToTC2_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IFms/ContinueToTC2Response" message="tns:IFms_ContinueToTC2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VendorTC2Response">
      <wsdl:input wsaw:Action="http://localhost/IFms/VendorTC2Response" message="tns:IFms_VendorTC2Response_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IFms/VendorTC2ResponseResponse" message="tns:IFms_VendorTC2Response_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContinueToProd">
      <wsdl:input wsaw:Action="http://localhost/IFms/ContinueToProd" message="tns:IFms_ContinueToProd_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IFms/ContinueToProdResponse" message="tns:IFms_ContinueToProd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BackupFeedAndPackages">
      <wsdl:input wsaw:Action="http://localhost/IFms/BackupFeedAndPackages" message="tns:IFms_BackupFeedAndPackages_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IFms/BackupFeedAndPackagesResponse" message="tns:IFms_BackupFeedAndPackages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublishToProd">
      <wsdl:input wsaw:Action="http://localhost/IFms/PublishToProd" message="tns:IFms_PublishToProd_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IFms/PublishToProdResponse" message="tns:IFms_PublishToProd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TakeActionToFix">
      <wsdl:input wsaw:Action="http://localhost/IFms/TakeActionToFix" message="tns:IFms_TakeActionToFix_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IFms/TakeActionToFixResponse" message="tns:IFms_TakeActionToFix_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>